{
    "presets": ["@babel/preset-react", "@babel/preset-flow"],
    "plugins": [
        "react-hot-loader/babel",
        "emotion",
        "transform-class-properties", ["module-resolver", {
            "alias": {
                "~": "./app/src",
                "~assets": "./app/public/assets"
            }
        }]
    ],
    "env": { "test": { "presets": ["env", "next/babel"] } }
}
