{
	"presets": ["@babel/preset-react", "@babel/preset-flow"],
	"plugins": [
		"emotion",
		"@babel/plugin-proposal-class-properties",
		[
			"module-resolver",
			{
				"alias": {
					"~": "./app/src",
					"~assets": "./app/public/assets"
				}
			}
		]
	]
}
